<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.tutorial.daemon.privileged</string>
	<key>Program</key>
	<string>/Library/PrivilegedHelperTools/tutorial_daemon</string>
	<key>MachServices</key>
	<dict>
		<key>com.tutorial.daemon.privileged</key>
		<true/>
		<key>com.tutorial.daemon.internal</key>
		<true/>
	</dict>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
